body{
    background: #FEAC5E;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E);  /* Chrome 10-25, Safasi 5.1-6 */
    background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safasi 7+ */
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0);
}

h1{
    background-color: #32549b;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

span{
    background-color: #f44336;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    transition: 0.2s linear;
    opacity: 0;
}

li{
    background-color: white;
    height: 40px;
    line-height: 40px;
    color: #666;
}

li:nth-child(2n){
    background-color: #f7f7f7;
}

li:hover span{
    width: 40px;
    opacity: 1.0;
}

input{
    font-size: 18px;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    color: #32549b;
    border: 0 solid rgba(0, 0, 0, 0);
    display: none;
}

input:focus{
    background-color: white;
    border: 2px solid #32549b;
    outline: none;
}

#container{
    background-color: #f7f7f7;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 360px;
    margin: 100px auto;
}

.completed{
    color: gray;
    text-decoration: line-through;
}

.fa-plus{
    float: right;
}